Source: ros-jazzy-rosidl-core-generators
Section: misc
Priority: optional
Maintainer: Shane Loretz <sloretz@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-copyright <!nocheck>, ament-cmake-cppcheck <!nocheck>, ament-cmake-cpplint <!nocheck>, ament-cmake-flake8 <!nocheck>, ament-cmake-lint-cmake <!nocheck>, ament-cmake-pep257 <!nocheck>, ament-cmake-uncrustify <!nocheck>, ament-cmake-xmllint <!nocheck>, ament-lint <!nocheck>, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-rosidl-core-generators
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ament-cmake-core, librosidl-typesupport-introspection-c-cpp-dev, ros-jazzy-rosidl-generator-py, ros-jazzy-rosidl-typesupport-c, ros-jazzy-rosidl-typesupport-cpp, ros-jazzy-rosidl-typesupport-fastrtps-c, ros-jazzy-rosidl-typesupport-fastrtps-cpp, rosidl-cmake, rosidl-generator-c-cpp, ros-jazzy-ros-workspace
Description: A configuration package defining core ROS interface generators.
